<div class="ldr-container">
    <div class="ldr-flex-row">
        <div class="ldr-footer-navbar">
            <ul>
                <li><a href="#" ui-sref="app.help"><span>{{'views.footer.help' | translate}}</span></a></li>
                <li><a href="#" ui-sref="terms"><span>{{'views.footer.terms' | translate}}</span></a></li>
                <li><a href="#" ui-sref="app.privacy"><span>{{'views.footer.privacy' | translate}}</span></a></li>
                <li><a href="#" ui-sref="app.contact"><span>{{'views.footer.contact' | translate}}</span></a></li>
            </ul>
        </div>
        <div class="ldr-footer-copyright">
            <div>
                <span>&copy; 2015 Let's Do It, Romania!</span>
                <span class='ldr-powered-by'>{{'views.footer.powered' | translate}} <a href="https://www.qualitance.com"
                                                                                       target="_blank">QUALITANCE</a></span>
            </div>
        </div>
    </div>
</div>
