<div class="ldr-signup">
    <div class="ldr-container">
        <div class="ldr-inside">
            <div>
                <div class="tc-white-1" flex-container="row">
                    <div flex-item="4" flex-item-order="2">

                        <div class="ldr-logo">
                            <div>
                                <a ui-sref="main"><img src="../assets/images/logo_white.png"></a>
                            </div>
                        </div>

                        <form class="form" name="changePassForm" ng-submit="changePassword(changePassForm)" novalidate
                              ng-if="!success">
                            <div flex-item class="ldr-headline">
                                <span class="fs-headline display-block">{{'views.signup.setPassword.setPassword' | translate}}</span>
                            </div>
                            <div flex-item>
                                <lx-text-field label="{{'generic.password' | translate}}" theme="dark"
                                               error="(changePassForm.password1.$error.required || changePassForm.password1.$error.minlength) && changePassForm.password1.$dirty"
                                               fixed-label="true">
                                    <input type="password" name="password1" ng-model="user.password1" ng-minlength="3"
                                           required>
                                </lx-text-field>
                            </div>
                            <div flex-item>
                                <lx-text-field label="{{'views.signup.confirmPassword' | translate}}" theme="dark"
                                               error="(changePassForm.password2.$error.required || changePassForm.password2.$error.minlength || changePassForm.password2.$error.pwdMismatch || changePassForm.password1.$error.pwdMismatch) && changePassForm.password2.$dirty"
                                               fixed-label="true">
                                    <input type="password" name="password2" ng-model="user.password2" ng-minlength="3"
                                           required match="user.password1">
                                </lx-text-field>
                            </div>
                            <br>
                            <div flex-item class="ldr-btn-signup">
                                <button class="btn btn--xl btn--white btn--raised" lx-ripple type="submit"
                                        ng-disabled="changePassForm.$invalid || !changePassForm.$dirty">
                                    {{'views.signup.setPassword.setPasswordButton' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                    <div flex-item="4" flex-item-order="1">&nbsp;</div>
                    <div flex-item="4" flex-item-order="3">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
