<div class="ldr-signup">
    <div class="ldr-container">
        <div class="ldr-inside">
            <div>
                <div class="tc-white-1" flex-container="row">
                    <div flex-item="4" flex-item-order="2">

                        <div class="ldr-logo">
                            <div>
                                <a ui-sref="main"><img src="../assets/images/logo_white.png"></a>
                            </div>
                        </div>

                        <div class="well" ng-show="success">
                            <p>{{'views.signup.thanks' | translate}}.</p>
                            <div class="ldr-btn-signup">
                                <button class="btn btn--xl btn--white btn--raised" lx-ripple ng-click="resend()">
                                    {{'views.signup.resend' | translate}}
                                </button>
                            </div>
                        </div>

                        <div flex-item class="ldr-headline">
                            <span class="fs-headline display-block">{{'views.signup.setPassword.hello' | translate}}, {{user.last_name}}</span>
                        </div>
                        <form class="form" name="form" ng-submit="setPassword()" novalidate ng-if="!success">
                            <div flex-item class="ldr-headline">
                                <span class="fs-headline display-block">{{'views.signup.setPassword.setPassword' | translate}}</span>
                            </div>
                            <div flex-item>
                                <lx-text-field label="{{'generic.password' | translate}}" theme="dark"
                                               error="(form.password1.$error.required || form.password1.$error.minlength) && form.password1.$dirty"
                                               fixed-label="true">
                                    <input type="password" name="password1" ng-model="user.password1" ng-minlength="3"
                                           required>
                                </lx-text-field>
                            </div>
                            <div flex-item>
                                <lx-text-field label="{{'views.signup.confirmPassword' | translate}}" theme="dark"
                                               error="(form.password2.$error.required || form.password2.$error.minlength || form.password2.$error.pwdMismatch || form.password1.$error.pwdMismatch) && form.password2.$dirty"
                                               fixed-label="true">
                                    <input type="password" name="password2" ng-model="user.password2" ng-minlength="3"
                                           required password-match="user.password1">
                                </lx-text-field>
                            </div>
                            <br>
                            <div class="checkbox">
                                <input type="checkbox" name="terms" ng-model="user.terms" id="checkbox1"
                                       class="checkbox__input" check-required>
                                <label for="checkbox1" class="checkbox__label">{{'views.signup.termsMessageOne' |
                                    translate}} <a ui-sref="terms" target="_blank" style="color:white">{{'views.signup.termsMessageTwo'
                                        | translate}}</a></label>
                            </div>
                            <div flex-item class="ldr-btn-signup">
                                <button class="btn btn--xl btn--white btn--raised" lx-ripple type="submit"
                                        ng-disabled="form.$invalid || !form.$dirty">
                                    {{'views.signup.setPassword.setPasswordButton' | translate}}
                                </button>
                            </div>
                        </form>

                        <div class="ldr-links">
                            <div flex-item>
                                <a href="#" ui-sref="login">{{'views.signup.haveAccount' | translate}}?</a>
                            </div>
                        </div>
                    </div>
                    <div flex-item="4" flex-item-order="1">&nbsp;</div>
                    <div flex-item="4" flex-item-order="3">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
